<h2>Edit an Author</h2>

<%=form_tag author_path(@author), method: "patch" do%>
  <%if @author.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <%@author.errors.full_messages.each do |message|%>
          <li><%=message%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
<%end%>