<%= form_tag("/posts") do %>

  <% if @post.errors.any?%>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @person.errors.full_messages.each |message| do %>
          <li><%=message%></li>
        <%end%> 
      </ul>
    </div>
  <%end%>

<%end%>
